server:
  port: 8080

spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/ewm
    username: ewm
    password: ewm

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        jdbc:
          time_zone: UTC

  sql:
    init:
      mode: always

logging:
  level:
    org.hibernate.SQL: DEBUG  # Показывать запросы
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE  # Параметры запросов
    org.springframework.transaction.interceptor: TRACE  # Транзакции
    org.springframework.orm.jpa: DEBUG  # JPA операции